@media  screen and  (max-width:420px)
{
   body{
    background:#10101a;
   } 
   *{
    margin: 0;
    padding: 0;
}

header{
    background-color:#10101a;
    color: white;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;
    position: sticky;
    top: 0;
}
heading{
    font-size: 40px;
    color: white;
}
.name{
    padding-right: 300px;
    font-size: 40px;
    color: whitesmoke;
}
.name:hover{
    color: rgba(180, 213, 78, 0.877);
    font-weight: 500px;
    
    font-style: italic;

}
nav ul li{
    display: inline;
    padding-right: 60px;
}
nav ul li:hover{
    color: orange;
    font-style: italic;
    font-weight: 300px;

}
a{
    text-decoration: none;
    color: white;
}
/* .container{
    display: flex;
  
    flex-direction: column;
} */
.about{
    /* margin-top: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 100px; */
    width: 70vw;
    


    font-size: 60px;
    padding-right: 20px;
    text-align: start;
    color: rgb(110, 191, 29);
    font-family: 'Shalimar', cursive;
  

}
.sub{
    color: rgb(114, 209, 12);
    font-size: 20px;
   
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 100px;
}



.box1{
    /* display: flex;
    flex-direction: row;
   */

    
    background-color:#10101a;
    
  
}

   .box2 img{
    padding-top: 50px;
    width: 280px;
    height: 300px;
    padding-left: 10px;
  }

   
h1{
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.me{
    text-align: center;
    color: rgb(242, 244, 239);
    font-size: 4vw;
    font-family: 'Crimson Text', serif;
}

.me heading{
    font-size: 9vw;
}
.me center img{
    width: 30vw;
    height: 40vh;
}
.me .img img{
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 30vh;
}
.photos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
    
    
}
.photos img{
    padding: 5vw;
    width: 70vw;
    height: 30vh;
}
.educontainer{
   display: flex;
   flex-direction: coloum;
   

   
}
.educontainer h{
    color:yellowgreen;
    font-size: 25px;
}
.row1{

    background: white;
    padding: 60px 35px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .40s;
    width: 20vw;
    margin-left: 100px;
    color: white;
    background-color:#10101a;
    font-size: 20px;

  
}
.row2{

    background: white;
    padding: 60px 35px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .40s;
    width: 20vw;
    font-size: 20px;
    color: white;
    background-color:#10101a;

}
.row3{

    background: white;
    padding: 60px 35px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .40s;
    width: 20vw;
    
     font-size: 20px;
    margin-right: 90px;
    color: white;
    background-color:#10101a;

}

.row1 i {
    color: yellow;
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .row2 i {
    color: yellow;
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .row3 i {
    color: yellow;
    font-size: 3rem;
    margin-bottom: 20px;
  }
.bx{
    font-family: boxicons !important;
    font-weight: 400;
   font-style: normal;
   font-variant: normal;
   line-height: 1;
   text-rendering: auto;
  display: inline-block;
   text-transform: none;
}

.row1:hover{
    box-shadow: 1px 1px 5px 5px red;
    background-color: black;
    font-family: 'Crimson Text', serif;
    color: rgb(230, 182, 182);
    font-size: 25px;
    scroll-behavior: smooth;

}
.row2:hover{
    box-shadow: 1px 1px 5px 5px red;
    background-color: black;
    font-family: 'Crimson Text', serif;
    color: rgb(230, 182, 182);
    font-size: 25px;

}
.row3:hover{
    box-shadow: 1px 1px 5px 5px red;
    background-color: black;
    font-family: 'Crimson Text', serif;
    color: rgb(230, 182, 182);
    font-size: 25px;

}
.procontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    
}
.pro1{
    color: white;
  margin-left: 245px;
    padding: 60px 35px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .40s;
    width: 20vw;
    font-size: 18px;
    color: white;
    background-color:#10101a;

}
.pro2{
    padding: 60px 35px;
    border-radius: 10px;
    margin-right: 265px ;
    cursor: pointer;
    transition: all .40s;
    width: 20vw;
    font-size: 18px;
    color: white;
    background-color:#10101a;

}
.pro1 h1{
    color: yellow;
}
.pro2 h1{
    color: yellow;
}
.pro1 p{
    font-size: 25px;
    
}
.pro2 p{
    font-size: 25px;
    
}
.pro1 a{
    margin: 10px;
    padding: 10px;
    background-color:yellow;
    color: black;
}
.pro2 a{
    margin: 10px;
    padding: 10px;
    background-color:yellow;
    color: black;
}


.pro1:hover{
    box-shadow: 1px 1px 5px 5px red;
    background-color: black;
    font-family: 'Crimson Text', serif;
    color: rgb(230, 182, 182);
}
.pro2:hover{
    box-shadow: 1px 1px 5px 5px red;
    background-color: black;
    font-family: 'Crimson Text', serif;
    color: rgb(230, 182, 182);

}
.contact{
   text-align: center;
    margin-left: 300px;
    width: 60vw;
    

    
    color: white;
}
.contact h2{
    color:whitesmoke;
    font-size: 30px;
}
.contact p{
    color:yellowgreen;
    font-size: 25px;
    font-family: serif;

}
.contact p1{
    color: whitesmoke;
    font-size: 35px;
    font-family: serif;
    
}
.contact num{
    color: yellowgreen;
    font-size: 30px;
    font-family: serif;
    
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.fac{
    margin: 10px;
    padding: 10px;
    font-size: 50px;

}
.inst{
    margin: 10px;
    padding: 10px;
    font-size: 60px;
    color: red;

}
.link{
    margin: 10px;
    padding: 10px;
    font-size: 50px;

}

    
.border:hover{
    
    box-shadow: 1px 1px 3px 3px yellow;
    box-sizing: content-box;
    border-radius: 40px 1px;
    
    border-left: 20px;
    background-color: black;
    font-family: 'Sacramento', cursive;

    
}
    
   

footer{
    height: 10vh;
    background-color:#10101a; 
    color: rgb(134, 131, 136);
    display: flex;
    justify-content: center;
    align-items: center;
}
}